# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exe.stackdump
*.out
*.app
/.metadata/
/.settings/
/RadioRoom/bin/*
/bin/*
/debug/*
/build/*
/Default/
/RemoteSystemsTempFiles/
/CMakeFiles/
CMakeCache.txt
CMakeSettings.json
.cproject
/.vscode
/.vs
/out