[Unit]
Description=Captures video from MIPI CSI camera and streams it to RTMP server
Documentation=http://envirover.com/docs/radioroom.html

[Service]
Type=simple
ExecStart=/usr/bin/gst-launch-1.0 nvarguscamerasrc ! 'video/x-raw(memory:NVMM), width=(int)720, height=(int)480, format=(string)NV12, framerate=(fraction)30/1' ! nvv4l2h264enc control-rate=1 bitrate=1500000 ! 'video/x-h264, stream-format=(string)byte-stream' ! h264parse ! flvmux ! rtmpsink location='rtmp://videosrv/live/stream live=1'
StandardOutput=file:/var/log/rtmpstream.log
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=rtmpstream.service