[Unit]
Description=UV Radio Room Service
Documentation=http://envirover.com/docs/radioroom.html

[Service]
Type=simple
ExecStart=/usr/sbin/radioroom
StandardOutput=null
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=radioroom.service