[Unit]
Description=SPL RadioRoom Service
Documentation=http://envirover.com/docs/splradioroom-rpi.html

[Service]
Type=simple
ExecStart=/usr/sbin/radioroom
StandardOutput=null
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=radioroom.service